n8n.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -55
      ],
      "id": "b6e6547d-def0-4658-ba84-b6c0cc5fe2ae",
      "name": "WhatsApp Trigger",
      "webhookId": "49152842-f68e-43b3-8632-1f5671fa7f47",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "hrOT8uGMFnORezNQ",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Answer Honestly"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        220,
        -180
      ],
      "id": "1d0ce3d1-0223-4e8a-b956-7296657d6fe6",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        140
      ],
      "id": "66c2ca9f-d0bd-46e2-9180-1ad1cdbd677a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "b4iQ5CqOk6T7izJq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "727728480420011",
        "recipientPhoneNumber": "=919579341477",
        "textBody": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        596,
        -55
      ],
      "id": "6128234d-6458-49eb-a658-87fbe59fe1e0",
      "name": "Send message",
      "webhookId": "f018479e-fd95-43a1-a14d-754004ca5c7a",
      "credentials": {
        "whatsAppApi": {
          "id": "MZ9B0NHF1RjenhHg",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        -180
      ],
      "id": "e2e3065e-d2c3-4f91-8a4a-400665136447",
      "name": "Code"
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "81e1d8b7382f21f19f50cd5055b7da6bb6999aa03523b46cb8877dc30d92fa3f"
  }
}